html,
body,
#main-grid {
  display: flex;
}

* {
  font-family: "Work Sans", sans-serif;
}

:root {
  --dark-bg: #222;
  --light-bg: #f2f2f2;
  --light-button: #2d1;
  --dark-text: var(--light-bg);
  --light-text: var(--dark-bg);
  --background-color: var(--light-bg);
  --text-color: var(--light-text);
  --button-color: var(--light-button);
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: arial;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#main-grid {
  border: 2px solid red;
  width: 500px;
  height: 500px;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
}

.fruit {
  background: #f05;
}

.snake {
  background: green;
}

#counter {
  position: absolute;
  font-size: 5em;
  top: 0;
  right: 1em;
}

.game-over {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: scale(0.5);
}
.game-over.show {
  opacity: 1;
  transform: scale(1);
}

.button-std {
  text-align: center;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  background-color: var(--button-color);
  border-radius: 0.1em;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.button-std:hover {
  transform: scale(1.05);
}
.button-std:active {
  transform: scale(0.98);
}

.modal {
  font-size: 3em;
  padding: 0.5em 1em;
  position: absolute;
  background: var(--background-color);
  box-shadow: 0.2em 0.2em 0.5em #3335;
  top: 20vh;
  left: 20vw;
  bottom: 20vh;
  right: 20vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  transition: transform 0.5s ease;
  box-sizing: border-box;
}
.modal input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--background-color);
  width: 100%;
  color: var(--text-color);
  font-size: 2em;
  background-color: transparent;
}
.modal .whole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal.hide {
  pointer-events: none;
  transform: translateY(80vh);
  user-select: none;
}

#swipe-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
#swipe-container.show {
  pointer-events: all;
}