html, body, #main-grid {
  display: flex;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: black;
  color: white;
  font-family: arial;
  font-size: 5em;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#main-grid {
  border: 2px solid red;
  width: 500px;
  height: 500px;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
}

.fruit {
  background: #f05;
}

.snake {
  background: green;
}

#counter {
  position: absolute;
  top: 0;
  right: 1em;
}