html,
body,
#main-grid {
    display: flex;
}

* {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --dark-bg: #222;
    --light-bg: #f2f2f2;
    --light-button: #2d1;
    --dark-text: var(--light-bg);
    --light-text: var(--dark-bg);

    --background-color: var(--light-bg);
    --text-color: var(--light-text);
    --button-color: var(--light-button);
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: arial;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#main-grid {
    border: 2px solid red;
    width: 500px;
    height: 500px;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    $size: 20px;
    // outline: 1px solid #fff;
    width: $size;
    height: $size;
}

.fruit {
    background: #f05;
}

.snake {
    background: green;
}

#counter {
    position: absolute;
    font-size: 5em;
    top: 0;
    right: 1em;
}

.game-over {
    $transition: .5s ease;
    opacity: 0;
    position: absolute;
    transition: opacity $transition, transform $transition;
    transform: scale(.5);

    &.show {
        opacity: 1;
        transform: scale(1);
    }
}

.button-std {
    text-align: center;
    $transition: .2s ease;
    padding: .5em 1em;
    margin: .5em 1em;
    background-color: var(--button-color);
    border-radius: .1em;
    transition: transform $transition;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(.98);
    }
}

.modal {
    font-size: 3em;
    padding: .5em 1em;
    position: absolute;
    background: var(--background-color);
    $height: 80vh;
    // height: $height;
    // width: 80vw;
    $w-padding: 20vw;
    $h-padding: 20vh;
    box-shadow: .2em .2em .5em #3335;
    top: $h-padding;
    left: $w-padding;
    bottom: $h-padding;
    right: $w-padding;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    $transition: .5s ease;
    transition: transform $transition;
    box-sizing: border-box;

    input {
        outline: none;
        border: none;
        border-bottom: 2px solid var(--background-color);
        width: 100%;
        color: var(--text-color);
        font-size: 2em;
        background-color: transparent;
    }

    .whole-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &.hide {
        pointer-events: none;
        transform: translateY($height);
        user-select: none;
    }
}

#swipe-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    pointer-events: none;

    &.show {
        pointer-events: all;
    }
}